version: '2'

services:
  # Used to test the server using the MS_MAPFILE environment variable
  mapserver:
    image: camptocamp/mapserver:${DOCKER_TAG}
    environment:
      MS_DEBUGLEVEL: '5'
      MAPSERVER_CATCH_SEGV: '1'
      MS_MAPFILE: /etc/mapserver/mapserver.map
    links:
      - db
    # ports:
    #   - 8380:8080
    volumes:
      - ./config/mapserver/:/etc/mapserver
    user: 12311:12311

  # Used to test the server using the MAP parameter of the query string
  mapserver-map:
    image: camptocamp/mapserver:${DOCKER_TAG}
    environment:
      MS_DEBUGLEVEL: '5'
      MAPSERVER_CATCH_SEGV: '1'
    links:
      - db
    # ports:
    #   - 8382:8080
    volumes:
      - ./config/mapserver/:/etc/mapserver
    user: www-data

  # Used to test the server using the MAPSERVER_BASE_PATH environment variable
  mapserver-path:
    image: camptocamp/mapserver:${DOCKER_TAG}
    environment:
      MS_DEBUGLEVEL: '5'
      MS_MAPFILE: '/etc/mapserver/mapserver.map'
      MAPSERVER_CATCH_SEGV: '1'
      MAPSERVER_BASE_PATH: '/this/is/a/test'
    links:
      - db
    # ports:
    #   - 8383:8080
    volumes:
      - ./config/mapserver/:/etc/mapserver
    user: www-data

  # Used to test the server ogcapi capabilities
  mapserver-ogcapi:
    image: camptocamp/mapserver:${DOCKER_TAG}
    environment:
      MS_DEBUGLEVEL: '5'
      MAPSERVER_CATCH_SEGV: '1'
      MAPSERVER_CONFIG_FILE: /etc/mapserver/landingpage.conf
      OGCAPI_HTML_TEMPLATE_DIRECTORY: /usr/local/share/mapserver/ogcapi/templates/html-bootstrap4/
    links:
      - db
    # ports:
    #   - 8381:8080
    volumes:
      - ./config/mapserver/:/etc/mapserver
    user: www-data

  db:
    image: camptocamp/postgres:14-postgis-3
    environment:
      POSTGRES_USER: www-data
      POSTGRES_PASSWORD: www-data
      POSTGRES_DB: test
    volumes:
      - ./config/db/:/docker-entrypoint-initdb.d

  acceptance:
    build: .
