[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.2.5"
c2cwsgiutils = "==4.1.4"
boltons = "==21.0.0"
netifaces = "==0.11.0"
requests = "==2.26.0"
lxml = "==4.6.4"

[dev-packages]
