name: Continuous integration

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
    tags:
      - '*'
  pull_request:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

jobs:
  main:
    runs-on: ubuntu-22.04
    name: Continuous integration
    timeout-minutes: 40
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      # Versions
      - run: docker system prune --all --force
      - run: docker --version
      - uses: actions/checkout@v3

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files
        env:
          SKIP: poetry-lock
      - run: git diff && false
        if: failure()
      - name: Checks
        run: c2cciutils-checks

      - run: make build
      - run: make acceptance
      - run: (cd acceptance_tests && c2cciutils-docker-logs)
        if: always()

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - run: make build
        env:
          DOCKER_BUILD_ARGS: --platform=linux/arm64
          DOCKER_TAG: latest-arm64

      - name: Publish
        run: c2cciutils-publish
        if: env.HAS_SECRETS == 'HAS_SECRETS'
