name: Rebuild

on:
  schedule:
    - cron: 30 2 * * *

jobs:
  rebuild:
    runs-on: ubuntu-22.04
    name: Rebuild
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
          - '7.4'
          - 7.6-ubuntu18.04
          - 7.6-gdal3.3
          - 7.6-gdal3.7
          - 8.0-gdal3.6
          - 8.0-gdal3.7

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
        if: github.repository == 'camptocamp/docker-mapserver'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks

      - run: make build
      - run: make acceptance
      - run: (cd acceptance_tests && (c2cciutils-docker-logs || docker-compose logs))
        if: always()

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - run: make build
        env:
          DOCKER_BUILD_ARGS: --platform=linux/arm64
          DOCKER_TAG: latest-arm64

      - name: Publish
        run: c2cciutils-publish --type=rebuild --branch=${{ matrix.branch }}
